# To override the default server ports, copy this file to .env and edit the variables below.
PDG_SIDEBAND_SMART_HUB_PORT=6443
PDG_SIDEBAND_DG_PORT=7443

# To view example Sideband API request/responses, set the below value to the PingDataGovernance Sideband API host
# before running ./run-test-harness sideband-api-request-examples where the host is reachable.
PDG_SIDEBAND_DG_HOST=localhost

# When ready to use the provided test harness against a working sideband adapter/API gateway implementation, use the
# following environment variable to point the test harness to the base URL of the API gateway.
PDG_SIDEBAND_TEST_HARNESS_BASE_URL=https://localhost:9443

# When sideband adapters make the /sideband/response call, the PingDataGovernance Server can be configured to accept
# request context data in different ways, enabling support for API gateways with different capability sets. The
# following environment variable is used by the PingDataGovernance server as the value for request-context-method.
# Use the following guidelines when selecting a value for request-context-method.
#
#  - Use "state" if the API gateway and sideband adapter support relaying data from the response from /sideband/request
#    to /sideband/response. This is the most performant option as token owner information lookup is only performed once.
#  - Use "response" if the API gateway and sideband adapter support providing the same data sent to /sideband/request
#    as a property in the request to /sideband/response. This is less performant than "state" as the token owner
#    information lookup is performed during calls to both /sideband/request and /sideband/response.
#  - Use "none" if the API gateway and sideband adapter are not capable of providing request data to /sideband/response.
#    Under these circumstances, policy writers will need to be aware that request data will not be available on outbound
#    policies.
#
PDG_SIDEBAND_REQUEST_CONTEXT_METHOD=state

# You should not need to modify the below variables
PDG_SIDEBAND_PROFILE_BRANCH=8.1
PDG_SIDEBAND_DEVOPS_REGISTRY=docker.io/pingidentity
PDG_SIDEBAND_DEVOPS_TAG=8.1.0.0-alpine-java11-edge

