<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
    "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
    "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<!-- NOTE: This configuration was adapted from the directory and sla-viewer's. 
  The newer version of checkstyle had some incompatibilities with the directory 
  configuration but all checks were preserved in this updated version. /directory/branches/auth-server/ext/checkstyle/unboundid-ds-checkstyle.xml 
  /labs/monitoring/sla-viewer/trunk/build-tools/src/main/resources/unboundid-monitor-checkstyle.xml -->

<module name="Checker">

  <!-- Ensure that no tab characters are used -->
  <module name="FileTabCharacter" />

  <!-- Ensure that no line ends with whitespace -->
  <module name="RegexpSingleline">
    <property name="format" value="\s$" />
    <property name="message" value="Line ends with whitespace." />
  </module>

  <module name="TreeWalker">


    <!-- Ensure that all classes and interfaces are documented -->
    <module name="JavadocType">
      <property name="scope" value="private" />
    </module>


    <!-- Ensure that all non-private methods are documented -->
    <module name="JavadocMethod">
      <property name="scope" value="package" />
      <property name="allowMissingJavadoc" value="false" />
      <property name="allowUndeclaredRTE" value="true" />
      <property name="allowMissingThrowsTags" value="true" />
      <property name="allowMissingParamTags" value="true" />
      <property name="allowMissingReturnTag " value="true" />
    </module>


    <!-- Ensure that all public and protected fields are documented -->
    <module name="JavadocVariable">
      <property name="scope" value="protected" />
    </module>


    <!-- Ensure that all Javadoc comments are well-formed -->
    <module name="JavadocStyle">
      <property name="scope" value="private" />
      <property name="checkFirstSentence" value="false" />
      <property name="checkEmptyJavadoc" value="true" />
      <property name="checkHtml" value="true" />
    </module>

    <!-- We encourage that lines do not exceed 80 characters, but -->
    <!-- we allow everything up to 120. -->
    <module name="LineLength">
      <property name="max" value="120" />
    </module>


    <!-- Check for string == rather than .equals checks -->
    <module name="StringLiteralEquality" />


    <!-- Check to ensure that anything implmenting .equals(Object) also implements 
      .hashCode() -->
    <module name="EqualsHashCode" />


    <!-- Make sure that all classes have a package statement -->
    <module name="PackageDeclaration" />


    <!-- Identify any switch statements with fall-through -->
    <module name="FallThrough" />


    <!-- Make sure that long constants are defined with an uppercase L -->
    <module name="UpperEll" />


    <!-- Perform basic validation on imports -->
    <module name="RedundantImport" />
    <module name="UnusedImports" />
    <module name="IllegalImport">
      <property name="illegalPkgs" value="sun" />
    </module>


    <!-- Don't allow empty statements (those that contain just a semicolon) -->
    <module name="EmptyStatement" />
  </module>
</module>
